<%- include('./template/header.ejs') %>
  <div>
      <div>Servidor ativo desde: <%=startedAt%></div>
      <div>Requisições desde o ultimo restart: <%=countCheck%></div>
  </div>
<%- include('./template/footer.ejs') %>