</div>
<div class="footer">
  Luis Felipe Corrêa Pérez
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script>
  function formatCPF(cpf) {
    return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/g, "\$1.\$2.\$3\-\$4")
  }

  /**
   * checkCPF from https://www.devmedia.com.br/validar-cpf-com-javascript/23916
   */
  function checkCPF(strCPF) {
    var Soma;
    var Resto;
    Soma = 0;
    if (strCPF == "00000000000") return false;

    for (i = 1; i <= 9; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (11 - i);
    Resto = (Soma * 10) % 11;

    if ((Resto == 10) || (Resto == 11)) Resto = 0;
    if (Resto != parseInt(strCPF.substring(9, 10))) return false;

    Soma = 0;
    for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (12 - i);
    Resto = (Soma * 10) % 11;

    if ((Resto == 10) || (Resto == 11)) Resto = 0;
    if (Resto != parseInt(strCPF.substring(10, 11))) return false;
    return true;
  }

  if (document.location.pathname === '/') {
    $(document).ready(function () {
      $('#cpf').keyup(function () {
        const _this = $(this);
        const allowedValue = _this.val().replace(/([^\d]+)/g, '');
        if (allowedValue.length > 11) {
          return _this.val(formatCPF(allowedValue.substr(0, 11)));
        }
        const maskedValue = formatCPF(_this.val());
        _this.val(maskedValue);
      })

      $('#cpfForm').submit(function (event) {
        const _this = $(this);
        const cpf = $('#cpf').val()
        const allowedValue = cpf.replace(/([^\d]+)/g, '');
        if (!checkCPF(allowedValue)) {
          event.preventDefault();
          $('#results').hide();
          $('#errorMessage').show();
        } else {
          $('#errorMessage').hide();
          $('#results').show();
        }
      });
    });
  }
</script>
</body>

</html>